<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input og Liste</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="forms">
        <div>

            <h1>Lag ny todo</h1>
            <form method="POST">
                <input type="text" name="text_input" placeholder="Skriv noe..." required>
                <select name="list" required>
                    <option value="" disabled hidden selected>Velg liste </option>
                    {% for list in lists %}
                    <option value="{{ list.id }}">{{ list.name }}</option>
                    {% endfor %}
                </select>
                <select name="priority" required>
                    <option value="" disabled hidden selected>Velg prioritet </option>
                    <option value="low">Lav</option>
                    <option value="medium">Moderat</option>
                    <option value="high">Høy</option>
                </select>
                <style>
                    select:invalid {
                        color: #a9a9a9;
                    }

                    option:not(:checked) {
                        color: #fff;
                    }
                </style>
                <button type="submit">Legg til</button>
            </form>
        </div>
        <div>

        </div class="create_list">
        <form action="/create_list" method="POST">
            <h1>Lag ny liste</h1>
            <input type="text" name="list_name" placeholder="Skriv liste navn..." required>
            <button type="submit">Opprett liste</button>
        </form>
    </div>

    <h2>Lister</h2>
    <div class="lists">

        {% for list in lists %}
        <div class="list">
            <h3>{{ list.name }}</h3>
            <div>
                {% for text in text_list %}
                {% if text.list_id == list.id %}
                <div class="todo">
                    {% if text.status == 0 %}
                    <input type="checkbox" name="completed" value="true" id="{{ text.id }}" checked
                        onclick="toggleTaskStatus(this)">
                    <p class="completed" style="text-decoration: line-through;">
                        {{ text.title }}
                    </p>
                    {% else %}
                    <input type="checkbox" name="completed" value="true" id="{{ text.id }}"
                        onclick="toggleTaskStatus(this)">
                    <p>
                        {{ text.title }}
                    </p>
                    {% endif %}
                    {% if text.priority == "high" %}
                    <div class="{{ text.priority }}">Høy</div>
                    {% elif text.priority == "medium" %}
                    <div class="{{ text.priority }}">Medium</div>
                    {% elif text.priority == "low" %}
                    <div class="{{ text.priority }}">Lav</div>
                    {% endif %}
                    <form method="POST" action="{{ url_for('delete_task', task_id=text.id) }}">
                        <button type="submit" class="delete-button">Slett</button>
                    </form>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>